* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Lucida Sans"
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    padding: s5px;
    background: lightgoldenrodyellow;
}

ul {
    display: flex;
    list-syle: none;
    width: 25%;
    justify-content: space-between;
}

main  {
    width: 1200px;
    margin:auto;
    text-align: center;
}